.calculadora{
  height: 100vh;
  background-color: var(--ion-color-primary);
}

.tela{
  height: 30vh;
  background-color: var(--ion-color-tertiary);
  flex: 1 1 auto;
  font-size: 3rem;
  color: #ffffff;
}

.teclado{
  height: 60vh;
  flex: 1 0 auto;
}

ion-grid{
  height: 100%;
  display: flex;
  flex-direction: column;
}

ion-row {
  flex: 1 1 auto;
}

ion-col {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button{
  height: 100%;
  flex: 1 1 auto;
  font-size: 1.3rem;
  --border-radius: 0;
}