.screen {
  height: 100vh;
  background-color: var(--ion-color-primary);
}

.tela{
  height: 25vh;
  padding: 25px;
  background-color: var(--ion-color-tertiary);
  flex: 1 1 auto;
  font-size: 3rem;
  color: #ffffff;
}

.teclado{
  height: 65vh;
  flex: 1 0 auto;
}

ion-grid{
  height: 100%;
  display: flex;
  flex-direction: column;
}

ion-row {
  flex: 1 1 auto;
}

ion-col {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button{
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  font-size: 1.3rem;
  --border-radius: 5px;
}

@media(max-width:600px){
  .screen{
    background-color: #fff;
  }
}